{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
</head>
<body>
{% block content %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url('../../assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">پیش فرض با سایدبار<span>پست تکی</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">اخبار</a></li>
                    <li class="breadcrumb-item active" aria-current="page">پست تکی پیش فرض با سایدبار</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <article class="entry single-entry">
                            <figure class="entry-media">
                                {% thumbnail object.image "873x420" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ object.title }}">
                                {% endthumbnail %}
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                        <span class="entry-author">
                                            نویسنده : <a href="#">{{ object.author }}</a>
                                        </span>
                                    <span class="meta-separator">|</span>
                                    <a href="#">{{ object.create_date | get_persian_date }}</a>
                                    <span class="meta-separator">|</span>
                                    <a href="#">2 دیدگاه</a>
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    {{ object.title }}
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    <a href="#">سبک زندگی</a>،
                                    <a href="#">فروشگاه</a>
                                </div><!-- End .entry-cats -->

                                <div class="entry-content editor-content">
                                    <p>{{ object.desc }}</p>
                                </div><!-- End .entry-content -->

                                <div class="entry-footer row no-gutters flex-column flex-md-row">
                                    <div class="col-md">
                                        <div class="entry-tags">
                                            <span>برچسب : </span> <a href="#">عکاسی</a> <a href="#">استایل</a>
                                        </div><!-- End .entry-tags -->
                                    </div><!-- End .col -->

                                    <div class="col-md-auto mt-2 mt-md-0">
                                        <div class="social-icons social-icons-color">
                                            <span class="social-label">اشتراک گذاری این پست : </span>
                                            <a href="#" class="social-icon social-facebook" title="فیسبوک"
                                               target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon social-twitter" title="توییتر"
                                               target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon social-pinterest" title="پینترست"
                                               target="_blank"><i class="icon-pinterest"></i></a>
                                            <a href="#" class="social-icon social-linkedin" title="لینکدین"
                                               target="_blank"><i class="icon-linkedin"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .entry-footer row no-gutters -->
                            </div><!-- End .entry-body -->

                            <div class="entry-author-details">
                                <figure class="author-media">
                                    <a href="#">
                                        <img src="../../assets/images/blog/single/author.jpg" alt="User name">
                                    </a>
                                </figure><!-- End .author-media -->

                                <div class="author-body">
                                    <div class="author-header row no-gutters flex-column flex-md-row">
                                        <div class="col-12">
                                            <h4><a href="#">{{ object.author }}</a></h4>
                                        </div><!-- End .col -->
                                        <div class="col-auto mt-1 mt-md-0">
                                            <a href="#" class="author-link">مشاهده همه پست های این نویسنده <i
                                                    class="icon-long-arrow-left"></i></a>
                                        </div><!-- End .col -->
                                    </div><!-- End .row -->

                                    <div class="author-content">
                                        <p>{{ object.author.biography }}</p>
                                    </div><!-- End .author-content -->
                                </div><!-- End .author-body -->
                            </div><!-- End .entry-author-details-->
                        </article><!-- End .entry -->

                        <nav class="pager-nav" aria-label="Page navigation">
                            <a class="pager-link pager-link-prev" href="#" aria-label="Previous" tabindex="-1">
                                پست قبلی
                                <span class="pager-link-title">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                            </a>

                            <a class="pager-link pager-link-next" href="#" aria-label="Next" tabindex="-1">
                                پست بعدی
                                <span class="pager-link-title">لورم ایپسوم متن ساختگی</span>
                            </a>
                        </nav><!-- End .pager-nav -->

                        <div class="related-posts">
                            <h3 class="title">پست های مرتبط</h3><!-- End .title -->

                            <div class="owl-carousel owl-simple owl-rtl owl-loaded owl-drag" data-toggle="owl"
                                 data-owl-options="{
                                        &quot;nav&quot;: false, 
                                        &quot;dots&quot;: true,
                                        &quot;margin&quot;: 20,
                                        &quot;loop&quot;: false,
                                        &quot;rtl&quot;: true, 
                            &quot;responsive&quot;: {
                                            &quot;0&quot;: {
                                                &quot;items&quot;:1
                                            },
                                            &quot;480&quot;: {
                                                &quot;items&quot;:2
                                            },
                                            &quot;768&quot;: {
                                                &quot;items&quot;:3
                                            }
                                        }
                                    }">
                                <!-- End .entry -->

                                <!-- End .entry -->

                                <!-- End .entry -->

                                <!-- End .entry -->
                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1188px;">
                                        <div class="owl-item active" style="width: 277px; margin-left: 20px;">
                                            <article class="entry entry-grid">
                                                <figure class="entry-media">
                                                    <a href="single.html">
                                                        <img src="../../assets/images/blog/grid/3cols/post-1.jpg"
                                                             alt="توضیحات عکس">
                                                    </a>
                                                </figure><!-- End .entry-media -->

                                                <div class="entry-body">
                                                    <div class="entry-meta justify-content-start">
                                                        <a href="#">22 فروردین 1399</a>
                                                        <span class="meta-separator">|</span>
                                                        <a href="#">2 دیدگاه</a>
                                                    </div><!-- End .entry-meta -->

                                                    <h2 class="entry-title">
                                                        <a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                                                    </h2><!-- End .entry-title -->

                                                    <div class="entry-cats">
                                                        <a href="#">سبک زندگی</a>،
                                                        <a href="#">فروشگاه</a>
                                                    </div><!-- End .entry-cats -->
                                                </div><!-- End .entry-body -->
                                            </article>
                                        </div>
                                        <div class="owl-item active" style="width: 277px; margin-left: 20px;">
                                            <article class="entry entry-grid">
                                                <figure class="entry-media">
                                                    <a href="single.html">
                                                        <img src="../../assets/images/blog/grid/3cols/post-2.jpg"
                                                             alt="توضیحات عکس">
                                                    </a>
                                                </figure><!-- End .entry-media -->

                                                <div class="entry-body">
                                                    <div class="entry-meta justify-content-start">
                                                        <a href="#">21 فروردین 1399</a>
                                                        <span class="meta-separator">|</span>
                                                        <a href="#">0 دیدگاه</a>
                                                    </div><!-- End .entry-meta -->

                                                    <h2 class="entry-title">
                                                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                                                    </h2><!-- End .entry-title -->

                                                    <div class="entry-cats">
                                                        <a href="#">سبک زندگی</a>
                                                    </div><!-- End .entry-cats -->
                                                </div><!-- End .entry-body -->
                                            </article>
                                        </div>
                                        <div class="owl-item active" style="width: 277px; margin-left: 20px;">
                                            <article class="entry entry-grid">
                                                <figure class="entry-media">
                                                    <a href="single.html">
                                                        <img src="../../assets/images/blog/grid/3cols/post-3.jpg"
                                                             alt="توضیحات عکس">
                                                    </a>
                                                </figure><!-- End .entry-media -->

                                                <div class="entry-body">
                                                    <div class="entry-meta justify-content-start">
                                                        <a href="#">18 فروردین 1399</a>
                                                        <span class="meta-separator">|</span>
                                                        <a href="#">3 دیدگاه</a>
                                                    </div><!-- End .entry-meta -->

                                                    <h2 class="entry-title">
                                                        <a href="single.html">لورم ایپسوم متن ساختگی.</a>
                                                    </h2><!-- End .entry-title -->

                                                    <div class="entry-cats">
                                                        <a href="#">مد</a>،
                                                        <a href="#">سبک زندگی</a>
                                                    </div><!-- End .entry-cats -->
                                                </div><!-- End .entry-body -->
                                            </article>
                                        </div>
                                        <div class="owl-item" style="width: 277px; margin-left: 20px;">
                                            <article class="entry entry-grid">
                                                <figure class="entry-media">
                                                    <a href="single.html">
                                                        <img src="../../assets/images/blog/grid/3cols/post-4.jpg"
                                                             alt="توضیحات عکس">
                                                    </a>
                                                </figure><!-- End .entry-media -->

                                                <div class="entry-body">
                                                    <div class="entry-meta justify-content-start">
                                                        <a href="#">15 فروردین 1399</a>
                                                        <span class="meta-separator">|</span>
                                                        <a href="#">4 دیدگاه</a>
                                                    </div><!-- End .entry-meta -->

                                                    <h2 class="entry-title">
                                                        <a href="single.html">لورم ایپسوم متن ساختگی</a>
                                                    </h2><!-- End .entry-title -->

                                                    <div class="entry-cats">
                                                        <a href="#">سفر</a>
                                                    </div><!-- End .entry-cats -->
                                                </div><!-- End .entry-body -->
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-nav disabled">
                                    <button type="button" role="presentation" class="owl-prev"><i
                                            class="icon-angle-left"></i></button>
                                    <button type="button" role="presentation" class="owl-next"><i
                                            class="icon-angle-right"></i></button>
                                </div>
                                <div class="owl-dots">
                                    <button role="button" class="owl-dot active"><span></span></button>
                                    <button role="button" class="owl-dot"><span></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="comments" id="comments-region">
                            <h3 class="title">{{ comments.count }} دیدگاه</h3>
                            <ul>
                                {% for comment in comments %}
                                    <li id="comment-pointer">
                                        <div class="comment">
                                            <figure class="comment-media">
                                                <a href="#">
                                                    <img src="{{ comment.user.avatar.url }}" alt="User name">
                                                </a>
                                            </figure>
                                            <div class="comment-body">
                                                <a class="comment-reply"
                                                   onclick="replyComment({{ comment.id }})">پاسخ</a>
                                                <div class="comment-user">
                                                    <h4><a href="#">{{ comment.user }}</a></h4>
                                                    <span class="comment-date">{{ comment.create_date | get_persian_date }}</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>{{ comment.comment_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <ul>
                                            {% for reply in comment.articlecomment_set.all %}
                                                <li id="comment-pointer">
                                                    <div class="comment">
                                                        <figure class="comment-media">
                                                            <a href="#">
                                                                <img src="{{ reply.user.avatar.url }}"
                                                                     alt="User name">
                                                            </a>
                                                        </figure>
                                                        <div class="comment-body">
                                                            <a class="comment-reply"
                                                               onclick="replyComment({{ reply.id }})">پاسخ</a>
                                                            <div class="comment-user">
                                                                <h4><a href="#">{{ reply.user }}</a></h4>
                                                                <span class="comment-date">{{ reply.create_date | get_persian_date }}</span>
                                                            </div>
                                                            <div class="comment-content">
                                                                <p>{{ reply.comment_text }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="reply">
                            {% if user.is_authenticated %}
                                <div class="heading" id="comment_answer">
                                    <h3 class="title">ارسال نظر</h3>
                                </div>
                                <form action="" method="post">
                                    <input type="hidden" value="" id="parent_id">
                                    دیدگاه
                                    <textarea name="reply-message" id="comment" cols="30" rows="4"
                                              class="form-control" required="" placeholder="دیدگاه شما *">

                                    </textarea>
                                    <a class="btn btn-outline-primary-2 float-right"
                                       onclick="sendComment({{ articlelist.id }})">
                                        <span>ارسال دیدگاه</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </a>
                                </form>
                            {% else %}
                                <div class="mr-6">
                                    <p>برای درج نظر ابتدا وارد <a href="{% url 'login_page' %}">حساب کاربری</a> شوید.
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <aside class="col-lg-3">
                        <div class="sidebar">
                            <div class="widget widget-search">
                                <h3 class="widget-title">جستجو</h3>

                                <form action="#">
                                    <label for="ws" class="sr-only">جستجوی اخبار</label>
                                    <input type="search" class="form-control" name="ws" id="ws"
                                           placeholder="جستجوی خبر مورد نظر" required="">
                                    <button type="submit" class="btn"><i class="icon-search"></i><span class="sr-only">جستجو</span>
                                    </button>
                                </form>
                            </div><!-- End .widget -->

                            <div class="widget widget-cats">
                                <h3 class="widget-title">دسته بندی ها</h3><!-- End .widget-title -->
                                {% render_partial 'article.views.article_category_component' %}
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">محبوب ترین اخبار</h3><!-- End .widget-title -->

                                <ul class="posts-list">
                                    <li>
                                        <figure>
                                            <a href="#">
                                                <img src="../../assets/images/blog/sidebar/post-1.jpg" alt="post">
                                            </a>
                                        </figure>

                                        <div>
                                            <span>22 فروردین 1399</span>
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <figure>
                                            <a href="#">
                                                <img src="../../assets/images/blog/sidebar/post-2.jpg" alt="post">
                                            </a>
                                        </figure>

                                        <div>
                                            <span>19 فروردین 1399</span>
                                            <h4><a href="#">لورم ایپسوم متن ساختگی</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <figure>
                                            <a href="#">
                                                <img src="../../assets/images/blog/sidebar/post-3.jpg" alt="post">
                                            </a>
                                        </figure>

                                        <div>
                                            <span>12 فروردین 1399</span>
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <figure>
                                            <a href="#">
                                                <img src="../../assets/images/blog/sidebar/post-4.jpg" alt="post">
                                            </a>
                                        </figure>

                                        <div>
                                            <span>25 فروردین 1399</span>
                                            <h4><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></h4>
                                        </div>
                                    </li>
                                </ul><!-- End .posts-list -->
                            </div><!-- End .widget -->

                            <div class="widget widget-banner-sidebar">
                                <div class="banner-sidebar-title">قسمت تبلیغات 280 در 280</div>
                                <!-- End .ad-title -->

                                <div class="banner-sidebar banner-overlay">
                                    <a href="#">
                                        <img src="../../assets/images/blog/sidebar/banner.jpg" alt="بنر">
                                    </a>
                                </div><!-- End .banner-ad -->
                            </div><!-- End .widget -->

                            <div class="widget">
                                <h3 class="widget-title">برچسب ها</h3><!-- End .widget-title -->

                                <div class="tagcloud">
                                    <a href="#">مد</a>
                                    <a href="#">استایل</a>
                                    <a href="#">زنانه</a>
                                    <a href="#">عکس</a>
                                    <a href="#">سفر</a>
                                    <a href="#">خرید</a>
                                    <a href="#">سرگرمی</a>
                                </div><!-- End .tagcloud -->
                            </div><!-- End .widget -->

                            <div class="widget widget-text">
                                <h3 class="widget-title">درباره بخش اخبار</h3><!-- End .widget-title -->

                                <div class="widget-text-content">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با لورم ایپسوم متن ساختگی با
                                        تولید سادگی نامفهوم</p>
                                </div><!-- End .widget-text-content -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
{% endblock %}
</body>
</html>