{% extends 'shared/_layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}بازیابی کلمه عبور{% endblock %}
</head>
<body>
{% block content %}
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-1.html">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
             style="background-image: url('../../assets/images/backgrounds/login-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2"
                                   role="tab" aria-controls="register-2" aria-selected="true">بازیابی کلمه عبور</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="register-2" role="tabpanel"
                                 aria-labelledby="register-tab-2">
                                <form action="{% url 'reset_password' active_code=user.email_active_code %}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ reset_form.password.label_tag }}
                                        {{ reset_form.password }}
                                        {{ reset_form.password.errors }}
                                    </div><!-- End .form-group -->
                                    <div class="form-group">
                                        {{ reset_form.confirm_password.label_tag }}
                                        {{ reset_form.confirm_password }}
                                        {{ reset_form.confirm_password.errors }}
                                    </div><!-- End .form-group -->
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>تغییر کلمه عبور</span>
                                            <i class="icon-long-arrow-left"></i>
                                        </button>
                                    </div><!-- End .form-footer -->
                                </form>
                                {% comment %}<div class="form-choice">
                                    <p class="text-center">یا ورود با </p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                حساب کاربری گوگل
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                حساب کاربری فیسبوک
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->{% endcomment %}
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main>
{% endblock %}
</body>
</html>