{% extends 'shared/_layout.html' %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}فروشگاه{% endblock %}
</head>
<body>
{% block content %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url('../../assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">3 ستونه<span>فروشگاه</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                    <li class="breadcrumb-item active" aria-current="page">3 ستونه</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                                    نمایش <span>9 از 56</span> محصول
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->
                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">مرتب سازی براساس : </label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="popularity" selected="selected">بیشترین خرید</option>
                                            <option value="rating">بیشترین امتیاز</option>
                                            <option value="date">تاریخ</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->
                                <div class="toolbox-layout">
                                    <a href="category-list.html" class="btn-layout">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4"></rect>
                                            <rect x="6" y="0" width="10" height="4"></rect>
                                            <rect x="0" y="6" width="4" height="4"></rect>
                                            <rect x="6" y="6" width="10" height="4"></rect>
                                        </svg>
                                    </a>

                                    <a href="category-2cols.html" class="btn-layout">
                                        <svg width="10" height="10">
                                            <rect x="0" y="0" width="4" height="4"></rect>
                                            <rect x="6" y="0" width="4" height="4"></rect>
                                            <rect x="0" y="6" width="4" height="4"></rect>
                                            <rect x="6" y="6" width="4" height="4"></rect>
                                        </svg>
                                    </a>

                                    <a href="category.html" class="btn-layout active">
                                        <svg width="16" height="10">
                                            <rect x="0" y="0" width="4" height="4"></rect>
                                            <rect x="6" y="0" width="4" height="4"></rect>
                                            <rect x="12" y="0" width="4" height="4"></rect>
                                            <rect x="0" y="6" width="4" height="4"></rect>
                                            <rect x="6" y="6" width="4" height="4"></rect>
                                            <rect x="12" y="6" width="4" height="4"></rect>
                                        </svg>
                                    </a>

                                    <a href="category-4cols.html" class="btn-layout">
                                        <svg width="22" height="10">
                                            <rect x="0" y="0" width="4" height="4"></rect>
                                            <rect x="6" y="0" width="4" height="4"></rect>
                                            <rect x="12" y="0" width="4" height="4"></rect>
                                            <rect x="18" y="0" width="4" height="4"></rect>
                                            <rect x="0" y="6" width="4" height="4"></rect>
                                            <rect x="6" y="6" width="4" height="4"></rect>
                                            <rect x="12" y="6" width="4" height="4"></rect>
                                            <rect x="18" y="6" width="4" height="4"></rect>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                {% for product in object_list %}
                                    {% include 'product/includes/product_list_items.html' %}
                                {% endfor %}
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link page-link-prev"
                                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"
                                           tabindex="-1"
                                           aria-disabled="true">
                                            <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in paginator.page_range %}
                                    <li class="page-item active" aria-current="page"><a class="page-link"
                                                                                        href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link page-link-next" href="?page={{ page_obj.next_page_number }}"
                                           aria-label="Next">
                                            بعدی <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>فیلترها : </label>
                                <a href="#" class="sidebar-filter-clear">پاک کردن همه</a>
                            </div><!-- End .widget widget-clean -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
                                       aria-controls="widget-1">
                                        دسته بندی
                                    </a>
                                </h3>
                                <div class="collapse show" id="widget-1">
                                    {% render_partial 'product.views.product_categories_component' %}
                                </div>
                            </div>

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true"
                                       aria-controls="widget-2">
                                        سایز
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-2">
                                    <div class="widget-body">
                                        <div class="filter-items">
                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-1">
                                                    <label class="custom-control-label" for="size-1">XS</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-2">
                                                    <label class="custom-control-label" for="size-2">S</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked=""
                                                           id="size-3">
                                                    <label class="custom-control-label" for="size-3">M</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" checked=""
                                                           id="size-4">
                                                    <label class="custom-control-label" for="size-4">L</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-5">
                                                    <label class="custom-control-label" for="size-5">XL</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->

                                            <div class="filter-item">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="size-6">
                                                    <label class="custom-control-label" for="size-6">XXL</label>
                                                </div><!-- End .custom-checkbox -->
                                            </div><!-- End .filter-item -->
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-3" role="button" aria-expanded="true"
                                       aria-controls="widget-3">
                                        رنگ
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-3">
                                    <div class="widget-body">
                                        <div class="filter-colors">
                                            <a href="#" style="background: #b87145;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #f0c04a;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #333333;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" class="selected" style="background: #cc3333;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #3399cc;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #669933;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #f2719c;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                            <a href="#" style="background: #ebebeb;"><span
                                                    class="sr-only">نام رنگ</span></a>
                                        </div><!-- End .filter-colors -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                {% render_partial 'product.views.product_brands_component' %}
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
                                       aria-controls="widget-5">
                                        قیمت
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-5">
                                    <div class="widget-body">
                                        <div class="filter-price">
                                            <div class="filter-price-text">
                                                محدوده قیمت :
                                                <span id="filter-price-range">1000تومان - 750000تومان</span>
                                            </div><!-- End .filter-price-text -->

                                            <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal">
                                                <div class="noUi-base">
                                                    <div class="noUi-connects">
                                                        <div class="noUi-connect"
                                                             style="transform: translate(0%) scale(0.74975, 1);"></div>
                                                    </div>
                                                    <div class="noUi-origin"
                                                         style="transform: translate(0%); z-index: 5;">
                                                        <div class="noUi-handle noUi-handle-lower" data-handle="0"
                                                             tabindex="0" role="slider" aria-orientation="horizontal"
                                                             aria-valuemin="1000.0" aria-valuemax="749800.0"
                                                             aria-valuenow="1000.0" aria-valuetext="1000تومان">
                                                            <div class="noUi-touch-area"></div>
                                                            <div class="noUi-tooltip">1000تومان</div>
                                                        </div>
                                                    </div>
                                                    <div class="noUi-origin"
                                                         style="transform: translate(74.975%); z-index: 4;">
                                                        <div class="noUi-handle noUi-handle-upper" data-handle="1"
                                                             tabindex="0" role="slider" aria-orientation="horizontal"
                                                             aria-valuemin="1200.0" aria-valuemax="1000000.0"
                                                             aria-valuenow="750000.0" aria-valuetext="750000تومان">
                                                            <div class="noUi-touch-area"></div>
                                                            <div class="noUi-tooltip">750000تومان</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- End #price-slider -->
                                        </div><!-- End .filter-price -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
{% endblock %}
</body>
</html>