{% extends 'shared/_layout.html' %}
{% load poll_extras %}
{% load thumbnail %}
{% block title %}{{ product.title }}{% endblock %}
{% block header_ref %}
    <link rel="stylesheet" href="/static/library/light_box/css/lightbox.min.css">
{% endblock %}
{% block footer_ref %}
    <script src="/static/library/light_box/js/lightbox.min.js"></script>
    <script src="/static/library/light_box/js/lightbox-plus-jquery.min.js"></script>
    {% comment %}<link rel="stylesheet" href="/static/library/light_box/js/lightbox.min.js">
    <link rel="stylesheet" href="/static/library/light_box/js/lightbox-plus-jquery.min.js">{% endcomment %}
{% endblock %}
{% block content %}
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">محصولات</a></li>
                    <li class="breadcrumb-item active" aria-current="page">پیش فرض</li>
                </ol>

                <nav class="product-pager mr-auto" aria-label="Product">
                    <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                        <i class="icon-angle-right"></i>
                        <span>قبلی</span>
                    </a>

                    <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                        <span>بعدی</span>
                        <i class="icon-angle-left"></i>
                    </a>
                </nav><!-- End .pager-nav -->
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-gallery product-gallery-vertical">
                                <div class="row">
                                    <figure class="product-main-image">
                                        {% thumbnail product.image "280x280" quality=95 crop="center" as im %}
                                            <img src="{{ im.url }}" id="main_image">
                                        {% endthumbnail %}
                                        <a href="{{ product.image.url }}" id="btn-product-gallery" data-lightbox="product-image" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure>
                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                        {% for gallery in product_galleries %}
                                            <a class="product-gallery-item"
                                               onclick="showLargeImage('{{ gallery.image.url }}')">
                                                {% thumbnail gallery.image "107x107" quality=95 crop="center" as im %}
                                                    <img src="{{ im.url }}">
                                                {% endthumbnail %}
                                            </a>
                                        {% endfor %}
                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details">
                                <h1 class="product-title">{{ product.title }}</h1>
                                <!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <a class="ratings-text" href="#product-review-link" id="review-link">( 2 نظر
                                        )</a>
                                </div><!-- End .rating-container -->

                                <div class="product-price">
                                    {{ product.price }}
                                </div><!-- End .product-price -->

                                <div class="product-content">
                                    <p>{{ product.short_desc }}</p>
                                </div><!-- End .product-content -->

                                <div class="details-filter-row details-row-size">
                                    <label>رنگ : </label>

                                    <div class="product-nav product-nav-thumbs">
                                        <a href="#" class="active">
                                            <img src="../../assets/images/products/single/1-thumb.jpg"
                                                 alt="product desc">
                                        </a>
                                        <a href="#">
                                            <img src="../../assets/images/products/single/2-thumb.jpg"
                                                 alt="product desc">
                                        </a>
                                    </div>
                                </div>
                                <div class="details-filter-row details-row-size">
                                    <label for="size">برند : </label>
                                    <a href="#" class="size-guide">{{ product.brand.title }}</a>
                                </div>
                                <div class="details-filter-row details-row-size">
                                    <label for="size">تاریخ ثبت : </label>
                                    <span>{{ product.create_date | get_persian_date }}</span>
                                </div>

                                <div class="details-filter-row details-row-size">
                                    <label for="qty">تعداد : </label>
                                    <div class="product-details-quantity">
                                        <input id="quantity" type="number" class="form-control" value="1" min="1"
                                               step="1" data-decimals="0">
                                    </div>
                                </div>

                                <div class="product-details-action">
                                    <a onclick="addProduct({{ product.id }})" class="btn-product pointer btn-cart"><span>افزودن به سبد خرید</span></a>

                                    <div class="details-action-wrapper">
                                        <a href="#" class="btn-product btn-wishlist" title="لیست علاقه مندی"><span>افزودن
                                                    به
                                                    علاقه مندی</span></a>
                                        <a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به
                                                    لیست مقایسه</span></a>
                                    </div>
                                </div>
                                <div class="product-details-footer">
                                    <div class="product-cat text-center">
                                        <span>دسته بندی : </span>
                                        <a href="#">زنانه</a>،
                                        <a href="#">لباس</a>،
                                        <a href="#">زرد</a>
                                    </div><!-- End .product-cat -->

                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">اشتراک گذاری : </span>
                                        <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
                                                class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="توییتر" target="_blank"><i
                                                class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
                                                class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="پینترست" target="_blank"><i
                                                class="icon-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                               role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                               role="tab" aria-controls="product-info-tab" aria-selected="false">اطلاعات بیشتر</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                               href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                               aria-selected="false">ارسال و بازگشت</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab"
                               role="tab" aria-controls="product-review-tab" aria-selected="false">نظرات (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                             aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>اطلاعات محصول</h3>
                                <p>{{ product.short_desc }}</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                             aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>اطلاعات</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                                    ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم
                                    ایپسوم متن ساختگی با تولید سادگی نامفهوم. </p>

                                <h3>اطلاعات بیشتر</h3>
                                <ul>
                                    <li>لورم ایپسوم متن ساختگی</li>
                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                    <li>لورم ایپسوم</li>
                                    <li>لورم ایپسوم متن ساختگی</li>
                                    <li>لورم ایپسوم متن ساختگی با تولید سادگی</li>
                                    <li> ارتفاع: 31سانتی متر; عرض: 32سانتی متر; عمق: 12سانتی متر</li>
                                </ul>

                                <h3>سایز</h3>
                                <p>تک سایز</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                             aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>ارسال و بازگشت</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن
                                    ساختگی با تولید سادگی نامفهوم<br>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوملورم ایپسوم متن
                                    ساختگی با تولید سادگی نامفهوملورم ایپسوم متن ساختگی با تولید سادگی نامفهوم.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                             aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>نظر (2)</h3>
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">کاربر 1</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                </div>
                                            </div>
                                            <span class="review-date">4 روز پیش</span>
                                        </div>
                                        <div class="col-12">
                                            <h4>عالی، سایز فوق العاده</h4>
                                            <div class="review-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم،لورم ایپسوم متن
                                                    ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن ساختگی با تولید
                                                    سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم!</p>
                                            </div>
                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>مثبت (2)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>منفی (0)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">کاربر 2</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                </div>
                                            </div>
                                            <span class="review-date">2 روز پیش</span>
                                        </div><!-- End .col -->
                                        <div class="col-12">
                                            <h4>خیلی عالی</h4>

                                            <div class="review-content">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم، لورم ایپسوم متن
                                                    ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
                                                    سادگی نامفهوم.</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>مثبت (0)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>منفی (0)</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title text-center mb-4">محصولات مرتبط</h2>

                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-rtl owl-loaded owl-drag"
                     data-toggle="owl" data-owl-options="{
                            &quot;nav&quot;: false, 
                            &quot;dots&quot;: true,
                            &quot;margin&quot;: 20,
                            &quot;loop&quot;: false,
                            &quot;rtl&quot;: true, 
                            &quot;responsive&quot;: {
                                &quot;0&quot;: {
                                    &quot;items&quot;:1
                                },
                                &quot;480&quot;: {
                                    &quot;items&quot;:2
                                },
                                &quot;768&quot;: {
                                    &quot;items&quot;:3
                                },
                                &quot;992&quot;: {
                                    &quot;items&quot;:4
                                },
                                &quot;1200&quot;: {
                                    &quot;items&quot;:4,
                                    &quot;nav&quot;: true,
                                    &quot;dots&quot;: false
                                }
                            }
                        }">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1485px;">
                            {% for product in related_product %}
                                <div class="owl-item active" style="width: 277px; margin-left: 20px;">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <span class="product-label label-out">ناموجود</span>
                                            <a href="product.html">
                                                <img src="{{ product.image.url }}" alt="{{ product.title }}"
                                                     class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>افزودن به
                                            لیست علاقه مندی</span></a>
                                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview"
                                                   title="مشاهده سریع"><span>مشاهده سریع</span></a>
                                                <a href="#" class="btn-product-icon btn-compare" title="مقایسه"><span>لیست
                                            مقایسه</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat text-center">
                                                <a href="#">ژاکت</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title text-center"><a
                                                    href="product.html">{{ product.title }}</a></h3>
                                            <!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="out-price">{{ product.price }}</span>
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 6 دیدگاه )</span>
                                            </div><!-- End .rating-container -->
                                        </div><!-- End .product-body -->
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="owl-nav">
                        <button type="button" role="presentation" class="owl-prev disabled"><i
                                class="icon-angle-left"></i></button>
                        <button type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i>
                        </button>
                    </div>
                    <div class="owl-dots disabled"></div>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
{% endblock %}
