{% extends 'shared/_layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <main class="main">
        <div class="page-header text-center" style="background-image: url('../../assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">تماس با ما 2<span>صفحات</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                    <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                    <li class="breadcrumb-item active" aria-current="page">تماس با ما 2</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="col-12 d-flex mb-5">
                <div class="bg-white w-100">
                    <iframe src="https://www.google.com/maps/{{ setting.map_api }}"
                            style="border:0" allowfullscreen="" width="100%" height="450px" frameborder="0"></iframe>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="contact-box text-center">
                            <h3>دفتر</h3>

                            <address>تهران، میدان آزادی <br>خیابان آزادی، پلاک 7</address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-box text-center">
                            <h3>اطلاعات تماس</h3>

                            <div><a href="mailto:#">info@exaple.com</a></div>
                            <div><a href="tel:+98{{ setting.phone }}">{{ setting.phone }}</a>، <a href="tel:#">99887733</a></div>
                        </div><!-- End .contact-box -->
                    </div><!-- End .col-md-4 -->

                    <div class="col-md-4">
                        <div class="contact-box text-center">
                            <h3>شبکه های اجتماعی</h3>

                            <div class="social-icons social-icons-color justify-content-center">
                                <a href="{{ setting.facebook_url }}" class="social-icon social-facebook" title="فیسبوک" target="_blank"><i
                                        class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon social-twitter" title="توییتر" target="_blank"><i
                                        class="icon-twitter"></i></a>
                                <a href="#" class="social-icon social-instagram" title="اینستاگرام" target="_blank"><i
                                        class="icon-instagram"></i></a>
                                <a href="#" class="social-icon social-youtube" title="یوتیوب" target="_blank"><i
                                        class="icon-youtube"></i></a>
                                <a href="#" class="social-icon social-pinterest" title="پینترست" target="_blank"><i
                                        class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .contact-box -->
                    </div><!-- End .col-md-4 -->
                </div><!-- End .row -->

                <hr class="mt-3 mb-5 mt-md-1">
                <div class="touch-container row justify-content-center">
                    <div class="col-md-9 col-lg-7">
                        <div class="text-center">
                            <h2 class="title mb-1 text-center">تماس با ما</h2><!-- End .title mb-2 -->
                            <p class="lead text-primary text-center mb-5">
                                از طریق فرم زیر میتوانید با ما ارتباط برقرار کنید
                            </p>
                            <form action="{% url 'contact_us' %}" method="post" class="contact-form mb-2">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-4">
                                        {{ form.full_name.label_tag }}
                                        {{ form.full_name }}
                                        {{ form.full_name.errors }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {{ form.email.errors }}
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form.mobile.label_tag }}
                                        {{ form.mobile }}
                                        {{ form.mobile.errors }}
                                    </div>
                                </div>
                                {{ form.subject.label_tag }}
                                {{ form.subject }}
                                {{ form.subject.errors }}

                                {{ form.message.label_tag }}
                                {{ form.message }}
                                {{ form.message.errors }}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-primary-2 btn-minwidth-sm">
                                        <span>تایید و ارسال</span>
                                        <i class="icon-long-arrow-left"></i>
                                    </button>
                                </div><!-- End .text-center -->
                            </form><!-- End .contact-form -->
                        </div><!-- End .col-md-9 col-lg-7 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </div>
    </main>
{% endblock %}
</body>
</html>