<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.bundle.min.js"></script>
<script src="../../static/js/jquery.hoverIntent.min.js"></script>
<script src="../../static/js/jquery.waypoints.min.js"></script>
<script src="../../static/js/superfish.min.js"></script>
<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/bootstrap-input-spinner.js"></script>
<script src="../../static/js/jquery.plugin.min.js"></script>
<script src="../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/jquery.countdown.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/demos/demo-4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../static/js/custom.js"></script>